From: $sender
To: $recipient
Subject: $subject

$name has invited you to share in the conveniences of modern
technology by joining her/him in using the Who, Where, When travel
coordination service.

Who, Where, When is a travel calendar that can be shared among a circle of
friends. It aims to increase the likelihood that you'll get to hang out
with your friends when you're off on some exciting trip.

In case you worry about these sorts of things, it is a free service. We
won't pimp you out and we won't pester you with ads. "Why do we do it?"
you might be thinking. Because we love you and we want you to be with your
friends when you're away from home. Being away from home can be a very
scary experience and having some good friends around makes the whole
business a heck of a lot more fun.

So don't delay, head right on over to:

$url

and start coordinating your travels today!

Respectfully,

The Who, Where, When server
